* {
  padding: 0;
  margin: 0; }

.talent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
.talent-card {
  background: #fff;
  padding-top: 1em;
  transition: all .3s ease-in-out; }
  .talent-card__hero {
    height: 300px;
    position: relative; }
    .talent-card__hero img {
      object-fit: cover;
      height: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; }
  .talent-card__text {
    text-align: center;
    padding: 1em 0;
    display: flex;
    flex-direction: column; }
    .talent-card__text .talent-card__text-head {
      color: #707070;
      padding-bottom: .5em; }
    .talent-card__text i {
      cursor: pointer;
      color: #707070; }
.talent-card:hover {
  background: #02333E; }
  .talent-card:hover .talent-card__text-head {
    color: #FFFFFF; }
  .talent-card:hover i {
    color: #FFFFFF; }
.talent-modal {
  width: 100%;
  background: #02333E;
  position: relative; }
  .talent-modal p {
    color: #fff;
    background: #02333E;
    padding: 2em;
    display: none; }

.talent-card-active {
  background: #02333E; }
  .talent-card-active .talent-card__text-head {
    color: #FFFFFF; }
  .talent-card-active i {
    color: #FFFFFF; }

.parra-mobile,
.talent-modal-mobile {
  background: #02333E;
  color: #FFFFFF; }

.talent-modal-mobile {
  max-height: 0;
  transition: all .3s ease-in-out; }

.para-mobile {
  padding: 2em;
  text-align: center; }

.talent-card-active .talent-modal-mobile {
  max-height: 220px; }

@media only screen and (max-width: 1010px) {
  .talent-container {
    grid-template-columns: repeat(1, 1fr); }

  .mydiv {
    display: none; } }
@media only screen and (min-width: 1010px) {
  .talent-modal-mobile {
    display: none !important; }

  .mydiv {
    display: auto; } }
/*
@media only screen and (max-width: 650px) {
  .talent {

    &-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

*/
